# Dataset processing for web visualization

We already performed some initial processing while exploring the dataset in the milestones1 notebook. Let's now prepare the dataset for web visualization.

In [1]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv("data_v1.csv", delimiter = ";")
df.head()

,title,movie_link,year,duration,mpa_rating,rating,budget,gross_worldwide,gross_us_canada,opening_weekend_gross,...,filming_locations,production_companies,languages,wins,nominations,oscars,votes_K,duration_min,genre_grouped,ROI
0,Swiss Family Robinson,https://www.imdb.com/title/tt0054357/?ref_=sr_t_1,1960,2h 6m,Approved,7.1,5000000.0,40357287.0,40356000.0,NaN,...,"['Tobago, Trinidad and Tobago']",['Walt Disney Productions'],"['English', 'Malay']",0,0,0,19.0,126.0,['Adventure'],7.071457
1,Psycho,https://www.imdb.com/title/tt0054215/?ref_=sr_t_2,1960,1h 49m,R,8.5,806947.0,32066835.0,32000000.0,NaN,...,"['Psycho House and Bates Motel, Backlot Univer...","['Alfred J. Hitchcock Productions', 'Shamley P...",['English'],0,14,4,741.0,109.0,"['Horror', 'Thriller']",38.738465
2,The Apartment,https://www.imdb.com/title/tt0053604/?ref_=sr_t_3,1960,2h 5m,Approved,8.3,3000000.0,18778738.0,18600000.0,NaN,...,"['Majestic Theater, 247 West 44th Street, Manh...",['The Mirisch Corporation'],['English'],0,8,0,204.0,125.0,"['Drama', 'Romance', 'Comedy']",5.259579
3,Spartacus,https://www.imdb.com/title/tt0054331/?ref_=sr_t_4,1960,3h 17m,PG-13,7.9,12000000.0,1846975.0,1830650.0,92162.0,...,"['Hearst Castle, San Simeon, California, USA']",['Bryna Productions'],['English'],0,11,0,146.0,197.0,"['Adventure', 'Drama', 'War & History']",-0.846085
4,Breathless,https://www.imdb.com/title/tt0053472/?ref_=sr_t_5,1960,1h 30m,Not Rated,7.7,400000.0,594039.0,414173.0,32424.0,...,"['11 rue Campagne Première, Paris 14, Paris, F...","['Les Films Impéria', 'Les Productions Georges...","['French', 'English']",0,4,1,90.0,90.0,"['Drama', 'Crime']",0.485098

# Intervals for budget, gross and ratings

In [5]:
df['budget'].min()

1.0

In [6]:
df['budget'].max()

300000000000.0

In [7]:
import pandas as pd

# Define the budget categories using pd.cut()
bins = [0, 50000000, 200000000, 300000000000]  # Budget intervals
labels = ['Low Budget', 'Mid Budget', 'High Budget']  # Category labels

# Create a new column 'budget_category' to store the category for each film
df['budget_category'] = pd.cut(df['budget'], bins=bins, labels=labels, right=False)

# Display the result
print(df[['budget', 'budget_category']].head())

       budget budget_category
0   5000000.0      Low Budget
1    806947.0      Low Budget
2   3000000.0      Low Budget
3  12000000.0      Low Budget
4    400000.0      Low Budget

In [ ]:
def budget_category(budget):
    if pd.isna(budget):
        return None
    elif budget < 10000000:
        return '0–10M'
    elif budget < 30_000_000:
        return '10–30M'
    elif budget < 60_000_000:
        return '30–60M'
    elif budget < 100_000_000:
        return '60–100M'
    else:
        return '100M+'

df['budget_category'] = df['budget'].apply(budget_category)