# Dataset processing for web visualization

We already performed some initial processing while exploring the dataset in the milestones1 notebook. Let's now prepare the dataset for web visualization.

In [63]:
import pandas as pd
import numpy as np

In [64]:
df = pd.read_csv("data_v1.csv", delimiter = ";")
df.head()

,title,movie_link,year,duration,mpa_rating,rating,budget,gross_worldwide,gross_us_canada,opening_weekend_gross,...,filming_locations,production_companies,languages,wins,nominations,oscars,votes_K,duration_min,genre_grouped,ROI
0,Swiss Family Robinson,https://www.imdb.com/title/tt0054357/?ref_=sr_t_1,1960,2h 6m,Approved,7.1,5000000.0,40357287.0,40356000.0,NaN,...,"['Tobago, Trinidad and Tobago']",['Walt Disney Productions'],"['English', 'Malay']",0,0,0,19.0,126.0,['Adventure'],7.071457
1,Psycho,https://www.imdb.com/title/tt0054215/?ref_=sr_t_2,1960,1h 49m,R,8.5,806947.0,32066835.0,32000000.0,NaN,...,"['Psycho House and Bates Motel, Backlot Univer...","['Alfred J. Hitchcock Productions', 'Shamley P...",['English'],0,14,4,741.0,109.0,"['Horror', 'Thriller']",38.738465
2,The Apartment,https://www.imdb.com/title/tt0053604/?ref_=sr_t_3,1960,2h 5m,Approved,8.3,3000000.0,18778738.0,18600000.0,NaN,...,"['Majestic Theater, 247 West 44th Street, Manh...",['The Mirisch Corporation'],['English'],0,8,0,204.0,125.0,"['Drama', 'Romance', 'Comedy']",5.259579
3,Spartacus,https://www.imdb.com/title/tt0054331/?ref_=sr_t_4,1960,3h 17m,PG-13,7.9,12000000.0,1846975.0,1830650.0,92162.0,...,"['Hearst Castle, San Simeon, California, USA']",['Bryna Productions'],['English'],0,11,0,146.0,197.0,"['Adventure', 'Drama', 'War & History']",-0.846085
4,Breathless,https://www.imdb.com/title/tt0053472/?ref_=sr_t_5,1960,1h 30m,Not Rated,7.7,400000.0,594039.0,414173.0,32424.0,...,"['11 rue Campagne Première, Paris 14, Paris, F...","['Les Films Impéria', 'Les Productions Georges...","['French', 'English']",0,4,1,90.0,90.0,"['Drama', 'Crime']",0.485098

In [65]:
df.describe()

,year,rating,budget,gross_worldwide,gross_us_canada,opening_weekend_gross,wins,nominations,oscars,votes_K,duration_min,ROI
count,33600.000000,33462.000000,1.181500e+04,1.822200e+04,1.757100e+04,1.552300e+04,33600.0,33600.000000,33600.000000,33462.000000,32715.000000,9406.000000
mean,1992.393631,6.155158,8.454320e+07,3.814961e+07,1.808236e+07,5.110082e+06,0.0,4.850357,0.102619,26.129041,102.919823,71.552021
std,18.957395,1.146070,2.866281e+09,1.210105e+08,4.853181e+07,1.488319e+07,0.0,17.719188,0.508687,87.684019,21.994070,3679.976065
min,1960.000000,1.100000,1.000000e+00,1.000000e+00,6.400000e+01,1.100000e+01,0.0,0.000000,0.000000,0.001000,61.000000,-0.999999
25%,1976.000000,5.500000,2.000000e+06,1.589938e+05,8.603650e+04,1.399650e+04,0.0,0.000000,0.000000,0.005000,90.000000,-0.749999
50%,1993.000000,6.300000,9.000000e+06,2.311544e+06,9.094110e+05,1.075360e+05,0.0,0.000000,0.000000,0.314000,98.000000,0.108755
75%,2009.000000,7.000000,2.700000e+07,2.092931e+07,1.405137e+07,3.772558e+06,0.0,3.000000,0.000000,12.000000,110.000000,1.931181
max,2024.000000,9.600000,3.000000e+11,2.923706e+09,9.366622e+08,3.571150e+08,0.0,433.000000,11.000000,3000.000000,776.000000,289340.000000

In [66]:
df.columns

Index(['title', 'movie_link', 'year', 'duration', 'mpa_rating', 'rating',
       'budget', 'gross_worldwide', 'gross_us_canada', 'opening_weekend_gross',
       'directors', 'writers', 'stars', 'genres', 'countries_origin',
       'filming_locations', 'production_companies', 'languages', 'wins',
       'nominations', 'oscars', 'votes_K', 'duration_min', 'genre_grouped',
       'ROI'],
      dtype='object')

In [67]:
df.shape

(33600, 25)

# Intervals for budget, gross and ratings

In [77]:
def money_category(budget):
    if pd.isna(budget):
        return None
    if budget < 100_000:
        return "0 - 100K"
    elif budget < 500_000:
        return "100K - 500K"
    elif budget < 1_000_000:
        return "500K - 1M"
    elif budget < 5_000_000:
        return "1M - 5M"
    elif budget < 10_000_000:
        return "5M - 10M"
    elif budget < 50_000_000:
        return "10M - 50M"
    elif budget < 100_000_000:
        return "50M - 100M"
    else:
        return "100M+"

df['budget_category'] = df['budget'].apply(money_category)
df['gross_worldwide_category'] = df['gross_worldwide'].apply(money_category)

print(df[['budget', 'budget_category']].head())
print(df[['gross_worldwide', 'gross_worldwide_category']].head())

       budget budget_category
0   5000000.0        5M - 10M
1    806947.0       500K - 1M
2   3000000.0         1M - 5M
3  12000000.0       10M - 50M
4    400000.0     100K - 500K
   gross_worldwide gross_worldwide_category
0       40357287.0                10M - 50M
1       32066835.0                10M - 50M
2       18778738.0                10M - 50M
3        1846975.0                  1M - 5M
4         594039.0                500K - 1M

In [78]:
def round_rating(rating):
    if pd.isna(rating):
        return None
    return round(rating)

df["rating_category"] = df["rating"].apply(round_rating)

print(df[['rating', 'rating_category']].head())

   rating  rating_category
0     7.1              7.0
1     8.5              8.0
2     8.3              8.0
3     7.9              8.0
4     7.7              8.0

# Adwards

In [79]:
def calculate_total_awards(row):
    nominations = row['nominations'] if pd.notna(row['nominations']) else 0
    oscars = row['oscars'] if pd.notna(row['oscars']) else 0
    return nominations + oscars

df['total_awards'] = df.apply(calculate_total_awards, axis=1)

In [80]:
print(df[['nominations', 'oscars', 'total_awards']].head())

   nominations  oscars  total_awards
0            0       0             0
1           14       4            18
2            8       0             8
3           11       0            11
4            4       1             5

In [92]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33600 entries, 0 to 33599
Data columns (total 29 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   title                     33600 non-null  object
 1   movie_link                33600 non-null  object
 2   year                      33600 non-null  int64
 3   duration                  33379 non-null  object
 4   mpa_rating                25624 non-null  object
 5   rating                    33462 non-null  float64
 6   budget                    11815 non-null  float64
 7   gross_worldwide           18222 non-null  float64
 8   gross_us_canada           17571 non-null  float64
 9   opening_weekend_gross     15523 non-null  float64
 10  directors                 33241 non-null  object
 11  writers                   32024 non-null  object
 12  stars                     33127 non-null  object
 13  genres                    33600 non-null  object
 14  countries_origin          33234 non-null  object
 15  filming_locations         26871 non-null  object
 16  production_companies      32222 non-null  object
 17  languages                 33126 non-null  object
 18  wins                      33600 non-null  int64
 19  nominations               33600 non-null  int64
 20  oscars                    33600 non-null  int64
 21  votes_K                   33462 non-null  float64
 22  duration_min              32715 non-null  float64
 23  genre_grouped             33600 non-null  object
 24  ROI                       9406 non-null   float64
 25  budget_category           11815 non-null  category
 26  gross_worldwide_category  18222 non-null  object
 27  rating_category           33462 non-null  float64
 28  total_awards              33600 non-null  int64
dtypes: category(1), float64(9), int64(5), object(14)
memory usage: 7.2+ MB

# Categories

In [94]:
import ast

df['genre_grouped_main'] = df['genre_grouped'].apply(lambda x: ast.literal_eval(x)[0] if pd.notna(x) and x != '[]' else None)
df['languages_main'] = df['languages'].apply(lambda x: ast.literal_eval(x)[0] if pd.notna(x) and x != '[]' else None)

In [95]:
df.head()

,title,movie_link,year,duration,mpa_rating,rating,budget,gross_worldwide,gross_us_canada,opening_weekend_gross,...,votes_K,duration_min,genre_grouped,ROI,budget_category,gross_worldwide_category,rating_category,total_awards,genre_grouped_main,languages_main
0,Swiss Family Robinson,https://www.imdb.com/title/tt0054357/?ref_=sr_t_1,1960,2h 6m,Approved,7.1,5000000.0,40357287.0,40356000.0,NaN,...,19.0,126.0,['Adventure'],7.071457,5M - 10M,10M - 50M,7.0,0,Adventure,English
1,Psycho,https://www.imdb.com/title/tt0054215/?ref_=sr_t_2,1960,1h 49m,R,8.5,806947.0,32066835.0,32000000.0,NaN,...,741.0,109.0,"['Horror', 'Thriller']",38.738465,500K - 1M,10M - 50M,8.0,18,Horror,English
2,The Apartment,https://www.imdb.com/title/tt0053604/?ref_=sr_t_3,1960,2h 5m,Approved,8.3,3000000.0,18778738.0,18600000.0,NaN,...,204.0,125.0,"['Drama', 'Romance', 'Comedy']",5.259579,1M - 5M,10M - 50M,8.0,8,Drama,English
3,Spartacus,https://www.imdb.com/title/tt0054331/?ref_=sr_t_4,1960,3h 17m,PG-13,7.9,12000000.0,1846975.0,1830650.0,92162.0,...,146.0,197.0,"['Adventure', 'Drama', 'War & History']",-0.846085,10M - 50M,1M - 5M,8.0,11,Adventure,English
4,Breathless,https://www.imdb.com/title/tt0053472/?ref_=sr_t_5,1960,1h 30m,Not Rated,7.7,400000.0,594039.0,414173.0,32424.0,...,90.0,90.0,"['Drama', 'Crime']",0.485098,100K - 500K,500K - 1M,8.0,5,Drama,French

## Order

In [96]:
budget_order = ["100M+", "50M - 100M", "10M - 50M", "5M - 10M", "1M - 5M", "500K - 1M", "100K - 500K", "0 - 100K"]

df["budget_category"] = pd.Categorical(df["budget_category"], categories=budget_order, ordered=True)

df_sorted = df.sort_values(by=["budget_category", "rating", "oscars"], ascending=[True, False, False])

# Save

In [97]:
df_sorted.head()

,title,movie_link,year,duration,mpa_rating,rating,budget,gross_worldwide,gross_us_canada,opening_weekend_gross,...,votes_K,duration_min,genre_grouped,ROI,budget_category,gross_worldwide_category,rating_category,total_awards,genre_grouped_main,languages_main
24450,The Dark Knight,https://www.imdb.com/title/tt0468569/?ref_=sr_t_1,2008,2h 32m,PG-13,9.0,185000000.0,1.009054e+09,534987076.0,158411483.0,...,3000.000,152.0,"['Drama', 'Action', 'Thriller', 'Crime']",4.454344,100M+,100M+,9.0,164,Drama,English
25605,Inception,https://www.imdb.com/title/tt1375666/?ref_=sr_t_6,2010,2h 28m,PG-13,8.8,160000000.0,8.390306e+08,292587330.0,62785337.0,...,0.002,148.0,"['Adventure', 'Sci-Fi & Fantasy', 'Action', 'T...",4.243941,100M+,100M+,9.0,220,Adventure,English
27662,Interstellar,https://www.imdb.com/title/tt0816692/?ref_=sr_...,2014,2h 49m,PG-13,8.7,165000000.0,7.407992e+08,203227580.0,47510360.0,...,0.002,169.0,"['Adventure', 'Sci-Fi & Fantasy', 'Drama']",3.489692,100M+,100M+,9.0,148,Adventure,English
31259,Soorarai Pottru,https://www.imdb.com/title/tt10189514/?ref_=sr...,2020,2h 33m,NaN,8.7,150000000.0,NaN,NaN,NaN,...,127.000,153.0,['Drama'],NaN,100M+,None,9.0,24,Drama,Tamil
15751,Terminator 2: Judgment Day,https://www.imdb.com/title/tt0103064/?ref_=sr_t_2,1991,2h 17m,R,8.6,102000000.0,5.177786e+08,205881154.0,31765506.0,...,0.001,137.0,"['Adventure', 'Sci-Fi & Fantasy', 'Action']",4.076261,100M+,100M+,9.0,33,Adventure,English

In [98]:
output_path = "../siteweb/assets/data/data_v2.csv"
df_sorted.to_csv(output_path, index = False, sep =",")

# Scraping

In [43]:
import requests

# Sort and select top movies
top_ratings = df.sort_values(by="rating", ascending=False)
top_nominations = df.sort_values(by="total_awards", ascending=False)
top_gross = df.sort_values(by="gross_worldwide", ascending=False)

# Combine and drop duplicates
top_combined = pd.concat([top_ratings, top_nominations, top_gross])
top_unique = top_combined.drop_duplicates(subset=["title", "year"])
top_1000 = top_unique.head(1000)

OMDB_API_KEY = "a4b47736"
poster_dict = {}

for index, row in top_unique.iterrows():
    title = row["title"]
    year = int(row["year"]) if not pd.isna(row["year"]) else ""

    # Query OMDb API
    url = f"http://www.omdbapi.com/?t={requests.utils.quote(title)}&y={year}&apikey={OMDB_API_KEY}"
    response = requests.get(url)

    if response.status_code == 200:
        data = response.json()
        if data.get("Response") == "True" and data.get("Poster") and data["Poster"] != "N/A":
            poster_dict[f"{title} ({year})"] = data["Poster"]
        else:
            poster_dict[f"{title} ({year})"] = None
    else:
        print(f"Failed to fetch {title}")

KeyboardInterrupt: